@import "../../common/colors.scss";

.header {
  position: fixed;
  z-index: 100;
  left: 5px;
  top: 5px;
  background-color: $primary-color;
  height: calc(100vh - 10px);
  width: 15rem;
  padding: 0 40px;
  color: white;
  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.nav-item {
  background: unset !important;
  display: flex;
  height: 50% !important;
  flex-direction: column;
  justify-content: space-around !important;

  .link-li {
    min-width: unset !important;
    max-width: none !important;
    cursor: pointer;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    transition: all 0.3s;
    padding: 0 !important;
    i {
      color: rgb(191, 213, 214);
    }
    i:hover {
      color: white;
      transition: all 0.3s;
    }
  }
  .active {
    background: $secondary-color;
    box-shadow: 0px 2px 36px 10px #000000d1;
    i {
      color: white !important;
    }
  }
}

.logo {
  color: $font-primary;
  font-style: 20px;
  font-weight: 600;
}
.user-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  span {
    margin-top: 0.5rem;
    font-size: 10px;
  }
}
