@import "./src/common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: white;
}

a {
  text-decoration: none;
}
.container {
  position: relative;
  display: flex;
  justify-content: end;
  background-color: $primary-color-two;
}
.container-right {
  width: calc(100% - 16rem);
}
ul {
  list-style: none;
}
.media-title {
  color: #fff;
  margin: 32px 2rem;
  font-size: xx-large;
}
